<!--product-details-->
<div class="product-details">
    <div class="col-sm-5">
        <div class="view-product">
            <img [src]="products.guid" alt="" />
            <h3>ZOOM</h3>
        </div>
        <div id="similar-product" class="carousel slide" data-ride="carousel">
            
              <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                      <a href=""><img src="assets/images/product-details/similar1.jpg" alt=""></a>
                      <a href=""><img src="assets/images/product-details/similar2.jpg" alt=""></a>
                      <a href=""><img src="assets/images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href=""><img src="assets/images/product-details/similar1.jpg" alt=""></a>
                      <a href=""><img src="assets/images/product-details/similar2.jpg" alt=""></a>
                      <a href=""><img src="assets/images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href=""><img src="assets/images/product-details/similar1.jpg" alt=""></a>
                      <a href=""><img src="assets/images/product-details/similar2.jpg" alt=""></a>
                      <a href=""><img src="assets/images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    
                </div>

              <!-- Controls -->
              <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
        </div>

    </div>
    <div class="col-sm-7">
        <div class="product-information"><!--/product-information-->
            <img src="assets/images/product-details/new.jpg" class="newarrival" alt="" />
            <h2>{{products.posttitle}}</h2>
            <p>Web ID: 1089772</p>
            <img src="assets/images/product-details/rating.png" alt="" />
            <span>
                <span>US $59</span>
                <label>Quantity:</label>
                <input type="text" value="3" />
                <button type="button" class="btn btn-fefault cart">
                    <i class="fa fa-shopping-cart"></i>
                    Add to cart
                </button>
            </span>
            <p><b>Availability:</b> In Stock</p>
            <p><b>Condition:</b> New</p>
            <p><b>Brand:</b> E-SHOPPER</p>
            <a href=""><img src="assets/images/product-details/share.png" class="share img-responsive"  alt="" /></a>
        </div><!--/product-information-->
    </div>
</div>
<!--/product-details-->

<!--category-tab-->
<div class="category-tab shop-details-tab">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
            <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
            <li><a href="#additional_information" data-toggle="tab">Informations complémentaires</a></li>
            <li><a href="#reviews" data-toggle="tab">Avis ({{mapProduct.get('_wc_review_count')}})</a></li>
            <li><a href="#seller_info" data-toggle="tab">Vendor Info</a></li>
            <li><a href="#more_seller_product" data-toggle="tab">Plus de produits</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="details" >

            <div class="col-sm-3">
                <h6 style='display:inline'>SKU :</h6>
                <p style='display:inline'>{{mapProduct.get('_sku')}}</p><br>
                <h6 style='display:inline'>Visibility :</h6>
                <p style='display:inline'>{{mapProduct.get('_visibility')}}</p><br>
                <h6 style='display:inline'>Disponibility in Stock :</h6>
                <p style='display:inline'>{{mapProduct.get('_stock_status')}}</p><br>
                <h6 style='display:inline'>Total Sales :</h6>
                <p style='display:inline'>{{mapProduct.get('total_sales')}}</p><br>
                <h6 style='display:inline'>Downloadable :</h6>
                <p style='display:inline'>{{mapProduct.get('_downloadable')}}</p><br>
                <h6 style='display:inline'>Virtual :</h6>
                <p style='display:inline'>{{mapProduct.get('_virtual')}}</p><br>
                <h6 style='display:inline'>Featured :</h6>
                <p style='display:inline'>{{mapProduct.get('_featured')}}</p><br>
                <h6 style='display:inline'>Review Count :</h6>
                <p style='display:inline'>{{mapProduct.get('_wc_review_count')}}</p><br>
                <h6 style='display:inline'>Post View Count :</h6>
                <p style='display:inline'>{{mapProduct.get('post_views_count')}}</p><br>
                <h6 style='display:inline'>Page View Count :</h6>
                <p style='display:inline'>{{mapProduct.get('pageview')}}</p><br>
            </div>
             
        </div>
        
        <div class="tab-pane fade" id="shipping" >
            <div class="col-sm-3">
                <h1>shipping info</h1>
            </div>
        </div>
        
        <div class="tab-pane fade" id="additional_information" >
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <h1>additional information</h1>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="reviews" >
            <div class="col-sm-12">
                <ul>
                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p><b>Write Your Review</b></p>
                
                <form action="#">
                    <span>
                        <input type="text" placeholder="Your Name"/>
                        <input type="email" placeholder="Email Address"/>
                    </span>
                    <textarea name="" ></textarea>
                    <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
                    <button type="button" class="btn btn-default pull-right">
                        Submit
                    </button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="seller_info" >
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <h6 style='display:inline'>First Name :</h6>
                <p style='display:inline'>{{mapOwner.get('first_name')}}</p><br>
                <h6 style='display:inline'>Last Name :</h6>
                <p style='display:inline'>{{mapOwner.get('last_name')}}</p><br>
                <h6 style='display:inline'>Disponibility in Stock :</h6>
                <p style='display:inline'>{{mapOwner.get('billing_country')}}</p><br>
                <h6 style='display:inline'>Billing Country :</h6>
                <p style='display:inline'>{{mapOwner.get('total_sales')}}</p><br>
                <h6 style='display:inline'>Billing Address 1 :</h6>
                <p style='display:inline'>{{mapOwner.get('billing_address_1')}}</p><br>
                <h6 style='display:inline'>Billing Postcode :</h6>
                <p style='display:inline'>{{mapOwner.get('billing_postcode')}}</p><br>
                <h6 style='display:inline'>Shipping Postcode :</h6>
                <p style='display:inline'>{{mapOwner.get('shipping_postcode')}}</p><br>
                <h6 style='display:inline'>Shipping Email :</h6>
                <p style='display:inline'>{{mapOwner.get('shipping_email')}}</p><br>
                <h6 style='display:inline'>Shipping Phone :</h6>
                <p style='display:inline'>{{mapOwner.get('shipping_phone')}}</p><br>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="more_seller_product" >
             <h1>more_seller_product</h1>
             <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="assets/images/home/gallery2.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="assets/images/home/gallery2.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="assets/images/home/gallery2.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="assets/images/home/gallery2.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<!--/category-tab-->