<app-header></app-header>
<app-slider></app-slider>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <app-category></app-category>
            </div>
            
            <div class="col-sm-9 padding-right">
                <!--features_items-->
                <!-- <app-feature-items></app-feature-items> -->
                <router-outlet></router-outlet>
                <!--features_items-->
                
                <!--category-tab-->
                <app-category-tab></app-category-tab>
                <!--/category-tab-->
                
                <!--recommended_items-->
                <app-recommended-items></app-recommended-items>
                <!--/recommended_items-->
                
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
