<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white;">Please wait ...</p>
</ngx-spinner>

<!--features_items-->
<div class="features_items">
    <h2 class="title text-center">Features Items</h2>
    <div class="col-sm-4" *ngFor="let product of products">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img [src]="product.guid" alt="" />
                    <h2>$56</h2>
                    <p>{{product.posttitle | slice:0:20 }}{{ product.posttitle.length > 20 ? '...' : ''}}</p>
                    <!-- <p>{{product.posttitle | slice:0:20 }}{{ product.posttitle.length > 20 ? '....read more' : ''}}</p> -->
                    <a  [routerLink]="['/product-details',product.id]" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>$56</h2>
                        <!-- <p>Easy Polo Black Edition</p> -->
                        <p>{{product.posttitle | slice:0:20 }}{{ product.posttitle.length > 20 ? '...' : ''}}</p>

                        <a href="#" [routerLink]="['/product-details',product.id]" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a [routerLink]="['/product-details',product.id]" href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    
   

    <!-- <ul class="pagination">
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">&raquo;</a></li>
    </ul> -->

    
</div>

<div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <span class="mr-2">Page Size:</span>
        </div>
        <div class="col-md-8">
          <select (change)="updatePageSize($event.target.value)"
                  class="form-control-sm"
          >
            <option selected value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalItems"
      (pageChange)="selectAllProducts()"
      class="pagination d-flex justify-content-end"
      >
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
        <ng-template ngbPaginationFirst>First</ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
      </ngb-pagination>

    </div>
  </div>
<!--features_items-->